<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>

	<servlet>
        <!--servlet-name>login</servlet-name-->
        <servlet-class>
            com.chinapic.bst.mag.Login
        </servlet-class>
        <init-param>
            <param-name>dbUrl</param-name>
            <param-value>cnpic</param-value>
        </init-param>
        <init-param>
        	<param-name>errorPage</param-name>
            <param-value>/mag/ErrorPage.jsp</param-value>
        </init-param>
        <init-param>
        	<param-name>stateViewServlet</param-name>
            <param-value>/servlet/com.chinapic.bst.mag.StateView</param-value>
        </init-param>
        <init-param>
        	<param-name>stateAdministrator</param-name>
            <param-value>sa</param-value>
        </init-param>
        <init-param>
            <param-name>managementServlet</param-name>
            <param-value>/servlet/com.chinapic.bst.mag.Management</param-value>
        </init-param>
    </servlet>
    <servlet>
        <!--servlet-name>password</servlet-name-->
        <servlet-class>
            com.chinapic.bst.mag.Password
        </servlet-class>
        <init-param>
            <param-name>dbUrl</param-name>
            <param-value>cnpic</param-value>
            <!--param-value>jdbc:oracle:thin:@localhost:1521:chinapic</param-value-->
        </init-param>
        <init-param>
            <param-name>loginPage</param-name>
            <param-value>/mag/login.html</param-value>
        </init-param>
        <init-param>
        <param-name>errorPage</param-name>
            <param-value>/mag/ErrorPage.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <!--servlet-name>edit</servlet-name-->
        <servlet-class>
            com.chinapic.bst.mag.StateEdit
        </servlet-class>
        <init-param>
            <param-name>dbUrl</param-name>
            <param-value>cnpic</param-value>
            <!--param-value>jdbc:oracle:thin:@localhost:1521:chinapic</param-value-->
        </init-param>
        <init-param>
            <param-name>loginPage</param-name>
            <param-value>/mag/login.html</param-value>
        </init-param>
        <init-param>
        <param-name>errorPage</param-name>
            <param-value>/mag/ErrorPage.jsp</param-value>
        </init-param>
        <init-param>
        	<param-name>stateViewServlet</param-name>
            <param-value>com.chinapic.bst.mag.StateView</param-value>
        </init-param>
    </servlet>
    <servlet>
        <!--servlet-name>view</servlet-name-->
        <servlet-class>
            com.chinapic.bst.mag.StateView
        </servlet-class>
        <init-param>
            <param-name>dbUrl</param-name>
            <param-value>cnpic</param-value>
            <!--param-value>jdbc:oracle:thin:@localhost:1521:chinapic</param-value-->
        </init-param>
        <init-param>
            <param-name>loginPage</param-name>
            <param-value>/mag/login.html</param-value>
        </init-param>
        <init-param>
            <param-name>errorPage</param-name>
            <param-value>/mag/ErrorPage.jsp</param-value>
        </init-param>
        <init-param>
        	<param-name>stateViewPage</param-name>
            <param-value>/mag/StateView.jsp</param-value>
        </init-param>
        <init-param>
        	<param-name>authorSearchServlet</param-name>
            <param-value>com.chinapic.bst.mag.AuthorSearch</param-value>
        </init-param>
    </servlet>
    <servlet>
        <!--servlet-name>author</servlet-name-->
        <servlet-class>
            com.chinapic.bst.mag.AuthorSearch
        </servlet-class>
        <init-param>
            <param-name>dbUrl</param-name>
            <param-value>cnpic</param-value>
            <!--param-value>jdbc:oracle:thin:@localhost:1521:chinapic</param-value-->
        </init-param>
        <init-param>
            <param-name>loginPage</param-name>
            <param-value>/mag/login.html</param-value>
        </init-param>
        <init-param>
            <param-name>errorPage</param-name>
            <param-value>/mag/ErrorPage.jsp</param-value>
        </init-param>
        <init-param>
        	<param-name>authorSearchPage</param-name>
            <param-value>/mag/AuthorSearch.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <!--servlet-name>apply</servlet-name-->
        <servlet-class>
            com.chinapic.bst.mag.WorksIDApply
        </servlet-class>
        <init-param>
            <param-name>dbUrl</param-name>
            <param-value>cnpic</param-value>
            <!--param-value>jdbc:oracle:thin:@localhost:1521:chinapic</param-value-->
        </init-param>
        <init-param>
            <param-name>loginPage</param-name>
            <param-value>/mag/login.html</param-value>
        </init-param>
        <init-param>
            <param-name>errorPage</param-name>
            <param-value>/mag/ErrorPage.jsp</param-value>
        </init-param>
        <init-param>
        	<param-name>authorSearchPage</param-name>
            <param-value>/mag/AuthorSearch.jsp</param-value>
        </init-param>
        <init-param>
        	<param-name>stateViewServlet</param-name>
            <param-value>com.chinapic.bst.mag.StateView</param-value>
        </init-param>
    </servlet>
    <servlet>
        <!--servlet-name>man</servlet-name-->
        <servlet-class>
            com.chinapic.bst.mag.Management
        </servlet-class>
        <init-param>
            <param-name>dbUrl</param-name>
            <param-value>cnpic</param-value>
            <!--param-value>jdbc:oracle:thin:@localhost:1521:chinapic</param-value-->
        </init-param>
        <init-param>
            <param-name>loginPage</param-name>
            <param-value>/mag/login.html</param-value>
        </init-param>
        <init-param>
            <param-name>errorPage</param-name>
            <param-value>/mag/ErrorPage.jsp</param-value>
        </init-param>
        <init-param>
        	<param-name>stateAdministrator</param-name>
            <param-value>sa</param-value>
        </init-param>
        <init-param>
            <param-name>managementPage</param-name>
            <param-value>/mag/Management.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <!--servlet-name>man</servlet-name-->
        <servlet-class>
            com.chinapic.bst.mag.Util
        </servlet-class>
        <init-param>
            <param-name>dbUrl</param-name>
            <param-value>cnpic</param-value>
            <!--param-value>jdbc:oracle:thin:@localhost:1521:chinapic</param-value-->
        </init-param>
        <init-param>
            <param-name>loginPage</param-name>
            <param-value>/mag/login.html</param-value>
        </init-param>
        <init-param>
            <param-name>errorPage</param-name>
            <param-value>/mag/ErrorPage.jsp</param-value>
        </init-param>
        <init-param>
        	<param-name>stateAdministrator</param-name>
            <param-value>sa</param-value>
        </init-param>
        <init-param>
            <param-name>utilPage</param-name>
            <param-value>/mag/Util.jsp</param-value>
        </init-param>
    </servlet>

</web-app>